/*
 * Tile windows that do not get tiled by default.
 */
kwmc rule owner="iTerm2"                 properties={role="AXDialog"}
kwmc rule owner="firefox"                properties={role="AXDialog"}

/*
 *  Treat all Finder dialogs as floating windows
 */
kwmc rule owner="Finder" role="AXDialog" properties={float="true"}

/*
 * blacklist applications from tiling
 */
kwmc rule  owner=".*Photoshop.*"         properties={float="true"}
kwmc rule  owner=".*Adobe Illustrator.*" properties={float="true"}
kwmc rule  owner=".*InDesign.*"          properties={float="true"}
kwmc rule  owner="OmniGraffle 6"         properties={float="true"}

kwmc rule  owner="App Store"             properties={float="true"}
kwmc rule  name="Preferences"            properties={float="true"}
kwmc rule  owner="System Preferences"    properties={float="true"}
kwmc rule  owner="The Unarchiver"        properties={float="true"}
kwmc rule  owner="Archive Utility"       properties={float="true"}
kwmc rule  owner="Calculator"            properties={float="true"}
kwmc rule  owner="Finder" name="Copy"    properties={float="true"}

/*
 * Captures an application to the given screen
 */
kwmc rule  owner="Mail"                  properties={display="1"}
kwmc rule  owner="Messages"              properties={display="1"}

/* vim:syntax=rc */
