;; !  | means mandatory
;; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{:alone 100
 :delay 210
 :held 210
 :sim 50
 :templates {:wm "/opt/homebrew/bin/hs -c \"WM.%s(%s)\""
             :hs "/opt/homebrew/bin/hs -c \"hs.%s()\""
             :indicator "opt/homebrew/bin/hs -c \"Indicator.%s()\""
             :open "open -a \"%s\""
             :say "say \"%s %s\""}

 :layers {:tab_layer {:key :tab}
          :return_layer {:key :return_or_enter}}

 :simlayers {:w_layer {:key :w :modi {:optional :left_shift}}}

 :devices {
           :razer_mouse [{:vendor_id 5426 :product_id 146}  ; bluetooth
                         {:vendor_id 5426 :product_id 143}] ; wired
           :mistel [{:vendor_id 1241 :product_id 323}]}

 :applications {:chrome ["^com\\.google\\.Chrome$"]
                :figma ["^com\\.figma\\.Desktop$"]
                :slack ["^com\\.tinyspeck.slackmacgap$"]}

 :main [
        {:des "Caps Lock -> Escape + caps_layer"
         :rules [[:##caps_lock ["caps_layer" 1] nil
                  {:alone [{:key :escape}
                           {:set ["r_layer" 0]}
                           {:set ["launch_layer" 0]}
                           {:set ["hs_layer" 0]}
                           [:indicator "off"]]
                   :afterup {:set ["caps_layer" 0]}}]]}

        {:des "Caps + Homerow arrow keys H/J/K/L"
         :rules [:caps_layer
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]]}

        {:des "Tab + Homerow navigation keys H/J/K/L"
         :rules [:tab_layer
                 [:##h :home]
                 [:##j :page_down]
                 [:##k :page_up]
                 [:##l :end]]}

        {:des "Mappings for Mistel keyboard"
         :rules [:mistel
                 [:escape :grave_accent_and_tilde]
                 [:1 :f1 ["caps_layer" 1]]      
                 [:2 :f2 ["caps_layer" 1]]
                 [:3 :f3 ["caps_layer" 1]]
                 [:4 :f4 ["caps_layer" 1]]
                 [:5 :f5 ["caps_layer" 1]]
                 [:6 :f6 ["caps_layer" 1]]
                 [:7 :f7 ["caps_layer" 1]]
                 [:8 :f8 ["caps_layer" 1]]
                 [:9 :f9 ["caps_layer" 1]]
                 [:0 :f10 ["caps_layer" 1]]
                 [:hyphen :f11 ["caps_layer" 1]]
                 [:equal_sign :f12 ["caps_layer" 1]]]}

        {:des "Figma enhancements"
         :rules [:figma
                 [:!Td :delete_forward] ; Fix forward delete
                 ; TODO: only for logitech mouse
                 [{:pkey :button4} :!Sreturn_or_enter]                 ; Mouse button4 → Go up one layer
                 [{:pkey :button5} :return_or_enter]                   ; Mouse button5 → Go down one layer
                 [{:pkey :button4 :modi :left_shift} :!Cclose_bracket] ; ⇧ + Mouse button4 →  Move layer down 
                 [{:pkey :button5 :modi :left_shift} :!Copen_bracket]  ; ⇧ + Mouse button5 →  Move layer up
                 ; for razer mouse
                 [:2 :!Sreturn_or_enter :razer_mouse]  ; Mouse button 2 → Go up one layer
                 [:3 :return_or_enter :razer_mouse]    ; Mouse button 3 → Go down one layer
                 [:!S2 :!Copen_bracket :razer_mouse]   ; ⇧ + Mouse button 2 →  Move layer down 
                 [:!S3 :!Cclose_bracket :razer_mouse]  ; ⇧ + Mouse button 3 →  Move layer up
                 ]}
        {:des "Slack enhancement"
         :rules [:slack
                 ; Create links <Ctrl+K>
                 [:!Ck :!CSu]]}

        {:des "Move focused windows"
         :rules [:w_layer
                 [:h [:wm "left"]]
                 [:j [:wm "down"]]
                 [:k [:wm "up"]]
                 [:l [:wm "right"]]
                 [:m [:mission_control]]
                 [:d [:wm "toggle_show_desktop"]]
                 [:n [:wm "move_to_next_display"]]
                 [:spacebar [:wm "center"]]
                 [:semicolon [:wm "fill"]]
                 [:r [["r_layer" 1] [:indicator "on"]] !r_layer]
                 :r_layer
                 [:h nil nil {:held [:wm "grow_left" "true"]  :afterup [:wm "grow_left" "false"]}]
                 [:j nil nil {:held [:wm "grow_down" "true"]  :afterup [:wm "grow_down" "false"]}]
                 [:k nil nil {:held [:wm "grow_up" "true"]    :afterup [:wm "grow_up" "false"]}]
                 [:l nil nil {:held [:wm "grow_right" "true"] :afterup [:wm "grow_right" "false"]}]
                 [{:any :key_code} [["r_layer" 0] [:indicator "off"]]]]}

        {:des "Application launcher"
         :rules [[:!SCcomma [:open "System Preferences"]]
                 :caps_layer
                 [:spacebar ["launch_layer" 1] :!launch_layer]
                 :launch_layer
                 [:a  [["launch_layer" 0] [:open "Activity Monitor"]]]
                 [:c  [["launch_layer" 0] [:open "Google Chrome"]]]
                 [:f  [["launch_layer" 0] [:open "Firefox Developer Edition"]]]
                 [:!Sf  [["launch_layer" 0] [:open "Figma"]]]
                 [:m  [["launch_layer" 0] [:open "Mail"]]]
                 [:spacebar  [["launch_layer" 0] [:open "Kitty"]]]
                 [:return_or_enter  [["launch_layer" 0] [:open "Finder"]]]]}

        {:des "Extension/Automation management"
         :rules [:return_layer
                 [:c [[:hs "toggleConsole"]]]
                 [:r [[:hs "reload"]]]
                 [:k [[:open "Karabiner-Elements"]]]
                 [:e [[:open "Karabiner-EventViewer"]]]]}
        ]}

