#!/usr/bin/env zsh

alias g="git"
alias ls="ls -Gh"
alias mkdir="mkdir -p"
alias pomodoro="utimer -t 25s && say 'beep boop, times up'"
alias ql="qlmanage -p"
alias reload="source ~/.zshrc"
alias stow="stow --verbose"
alias vim="nvim"
alias brew_bundle="brew bundle --file=$HOME/dotfiles/Brewfile"

ps_time() {
  pid=$(pgrep -i "$1")
  ps -p "$pid" -o etime=
}

pom() {
  utimer -c "$1" && say 'beep boop, times up' 
}

theme() {
  case "$1" in
    'light') colorscheme="Catppuccin-Latte" ;;
    'midlight') colorscheme="Catppuccin-Frappe" ;;
    'middark') colorscheme="Catppuccin-Macchiato" ;;
    'dark') colorscheme="Catppuccin-Mocha" ;;
    *) echo 'Themes options: light | midlight | middark | dark' >&2 ;;
  esac

  KITTY_CONFIG_DIRECTORY=$XDG_CONFIG_HOME/kitty/colorscheme/ kitty +kitten themes --reload-in all "$colorscheme"
}
# Autocompletion
_theme() {
  compadd 'light' 'midlight' 'middark' 'dark'
}
compdef _theme theme

heic_to_jpg() {
  extension=${2##*.}
  echo $extension
  if [[ $extension != 'jpg' && $extension != 'jpeg' ]]; then
    echo "Error: extension must be 'jpg' or 'jpeg'"
  else
    sips -s format jpeg $1 --out $2
  fi
}

# vi:filetype=sh
