#!/usr/bin/env zsh

alias g="git"
alias ls="ls -Gh"
alias mkdir="mkdir -p"
alias pomodoro="utimer -t 25s && say 'beep boop, times up'"
alias ql="qlmanage -p"
alias reload="source ~/.zshrc"
alias stow="stow --verbose"
alias vim="nvim"
alias brew_bundle="brew bundle --file=$HOME/dotfiles/Brewfile"

ps_time() {
  pid=$(pgrep -i "$1")
  ps -p "$pid" -o etime=
}

# pom() {
#   utimer -c "$1" && say 'beep boop, times up' 
# }

theme() {
  case "$1" in
    'light')
      colorscheme="Catppuccin-Latte"
      FZF_DEFAULT_OPTS=" \
      --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
      --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
      --color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39"
    ;;
    'midlight')
      colorscheme="Catppuccin-Frappe"
      FZF_DEFAULT_OPTS=" \
      --color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
      --color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
      --color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284"
    ;;
    'middark')
      colorscheme="Catppuccin-Macchiato"
      FZF_DEFAULT_OPTS=" \
      --color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
      --color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
      --color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"
    ;;
    'dark')
      colorscheme="Catppuccin-Mocha"
      FZF_DEFAULT_OPTS=" \
      --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
      --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
      --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
    ;;
    *)
      echo 'Themes options: light | midlight | middark | dark' >&MPL2
      return 1
    ;;
  esac

  KITTY_CONFIG_DIRECTORY=$XDG_CONFIG_HOME/kitty/colorscheme/ kitty +kitten themes --reload-in all "$colorscheme"

  # Used to set colorscheme in other tools like Neovim
  # vars need are be reexported since `kitty` does not export switching themes
  export TERM_COLORSCHEME=$colorscheme
  export BAT_THEME=$TERM_COLORSCHEME
  export FZF_DEFAULT_OPT
}
# Autocompletion
_theme() {
  compadd 'light' 'midlight' 'middark' 'dark'
}
compdef _theme theme

heic_to_jpg() {
  extension=${2##*.}
  echo $extension
  if [[ $extension != 'jpg' && $extension != 'jpeg' ]]; then
    echo "Error: extension must be 'jpg' or 'jpeg'"
  else
    sips -s format jpeg $1 --out $2
  fi
}

h264() {
  ffmpeg -i $1 -vcodec h264 -acodec aac ${1%.*}.mp4
}

video_halfspeed () {
  ffmpeg -i $1 -filter:v "setpts=0.5*PTS" ${1%.*}.min.${1##*.}
}

# vi:filetype=sh
