alias g="git"
alias ls="ls -Gh"
alias mkdir="mkdir -p"
alias pomodoro="utimer -t 25s && say 'beep boop, times up'"
alias ql="qlmanage -p"
alias reload="exec zsh"
alias stow="stow --verbose"
alias vim="nvim"

function ps_time() {
  pid=$(pgrep -i "$1")
  ps -p "$pid" -o etime=
}
alias ps_time="ps_time"

# vi:filetype=sh
